_site/
.DS_Store
.jekyll/
.jekyll-metadata
.jekyll-cache/
.bundle/
.sass-cache/
vendor/

*.gem
*.gemspec
*.log
*.bak
*~
*.swp

node_modules/
package.json

# Comment this out if not using GitHub Pages build
Gemfile.lock

# Editor configs
.vscode/
tmp/