.icon-small {
    height: 16px; /* Adjust the height as per your preference */
    width: 16px; /* Adjust the width as per your preference */
    vertical-align: text-bottom; /* To align the icons with the text */
  }
  