---
layout: default
---

<style>
  .category {
    font-size: 14.5px;
    padding: 2px 13px;
    border: none;
    background-color: #4CAF50;
    border-radius: 50px;
    color: #fff;
}
</style>

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS_CHTML">
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["AMSmath.js", "AMSsymbols.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']], // Add this line
      processEscapes: true,
      processEnvironments: true
    },
    CommonHTML: {
      scale: 100
    },
    "HTML-CSS": {
      scale: 100
    }
  });
</script>

<article class="post detailed">
  <h1>{{ page.title }}</h1>

  <div>
    <div class="post-tags">
      {% if page.categories %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
        <span class="category">{{category}}</span>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
  </div>
    
  <div class="entry">
    {{ content }}
  </div>
</article>
